@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", serif;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 10px;
  }